.background{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-box{
  width: 500px;
  margin: 0 auto;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2rem;
  text-align: left;
  /*background-color: #444;*/
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  color: antiquewhite;
}


.quote-content{
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 15px;
}

#author {
  text-align: right;
  font-style: italic;
}

button, a{
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 1rem 1.2em;
  width: fit-content;
  font-weight: 700;
  background: grey;
  cursor: pointer;
  color: antiquewhite;
}